body {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
}

.no-click:hover {
    cursor: text;
}

.w-100 {
    width: 100%;
}



/* STYLE FOR DEMO CONTENT */
.landing-page{
    /* background-image: url("./../assets/landing-page-background.jpg");
    background: linear-gradient(rgba(31, 44, 108, 0.65), rgba(31, 44, 108, 0.65)), rgba(0, 0, 0, 0.55) url("./../assets/landing-page-background.jpg") no-repeat;
    background-attachment: fixed;
    background-size: cover; */
    position: relative;
    top: calc(-100vh);
}

.landing-page-title {
    font-size: 5rem;
}

.landing-page-subtitle {
    font-size: 3rem;

}

#demo {
    opacity: 0.5;
}