body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

.no-click:hover {
    cursor: text;
}

.w-100 {
    width: 100%;
}

.primary {
    color: #006e90 !important;
}

.secondary {
    color: #f18f01 !important;
}

.accent {
    color: #41bbd9 !important;
}

.primary-bg {
    background-color: #006e90 !important;
    color: #fff;
}

.secondary-bg {
    background-color: #f18f01 !important;
    color: #fff !important;
}

.secondary-bg:hover {
    background-color: #e08501 !important;
    color: #fff !important;
}

.page-link {
    color: #006e90 !important;
    text-decoration: none;
}

.page-link:hover {
    color: #f18f01 !important;
}


/* Overwrite Bulma Switch background color */
.switch[type=checkbox]:checked+label::before, .switch[type=checkbox]:checked+label:before {
    background: #f18f01;
}

/* Overwrite Bulma Tag color */
.marble-tag {
    background-color: #fff3e1 !important;
    color: #f18f01 !important;
}

#verbose-console {
    font-family: 'Roboto Mono', monospace;
    font-size: 10px;
}